* {-webkit-font-smoothing: antialiased}

body {
    font-size: 100%;
    font-family: 'Roboto Mono', monospace;
}

a {
    color: black;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 88vh;
}

#greeting {
    font-size: 4vh;
    font-weight: 600;
}

.line {
    display: block;
    padding:3vh 0;
    font-size: 2.5vh;
    font-weight: 200;
}

#codeText {
    font-size: 3vh;
    font-weight: 900;
}

#icons {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    padding-top: 10vh;
}

.icon {
    font-size: 5vh;
    padding: 0 1vw;
}

a {
    text-decoration: none;
}

#link  {
    background-color: rgba(0, 0, 0, 0.15);
}

footer {
    text-align: center;
}
